.image-gallery {
  height: 258px;
  width: 240px;
}

.image-gallery .rectangle {
  height: 258px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: -1212px;
  width: 240px;
}

.image-gallery .div-4 {
  background-color: #2a2a2aad;
  border-radius: 8px;
  height: 12px;
  left: 96px;
  position: absolute;
  top: 229px;
  width: 48px;
}

.image-gallery .group {
  height: 4px;
  left: 6px;
  position: relative;
  top: 4px;
  width: 36px;
}

.image-gallery .ellipse {
  background-color: var(--white);
  border-radius: 2px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.image-gallery .ellipse-2 {
  background-color: var(--white);
  border-radius: 2px;
  height: 4px;
  left: 8px;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 4px;
}

.image-gallery .ellipse-3 {
  background-color: var(--white);
  border-radius: 2px;
  height: 4px;
  left: 16px;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 4px;
}

.image-gallery .ellipse-4 {
  background-color: var(--white);
  border-radius: 2px;
  height: 4px;
  left: 24px;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 4px;
}

.image-gallery .ellipse-5 {
  background-color: var(--white);
  border-radius: 2px;
  height: 4px;
  left: 32px;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 4px;
}

.image-gallery .overlap-group {
  height: 258px;
  position: relative;
}

.image-gallery .img {
  height: 258px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.image-gallery .rectangle-2 {
  height: 258px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 240px;
}

.image-gallery .group-2 {
  height: 4px;
  left: 102px;
  position: absolute;
  top: 233px;
  width: 36px;
}

.image-gallery .ellipse-6 {
  background-color: var(--grey);
  border-radius: 2px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.image-gallery .ellipse-7 {
  background-color: var(--white);
  border-radius: 2px;
  height: 4px;
  left: 32px;
  position: absolute;
  top: 0;
  width: 4px;
}

.image-gallery.variant-3 {
  background-image: url(../../../static/img/rectangle-34624145.png);
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
